# Large local data directories
.git
.vagrant

# Rails tmp and log files
tmp/*
log/*

# Simplecov coverage report
coverage/*

# Remove Makefile, which changes often when re-running
Makefile

# This is created at runtime through the Dockerfile, and should be ignored
.git-revision
