form .field {
  padding-left: 2rem;
}

form .actions {
  margin-top: 3rem;

  a, button, input {
    display: block;
    margin-bottom: 3rem;
  }
}

dt {
  position: relative;

  & ~ dt {
    margin-top: 2rem;
  }
}

dd {
  position: relative;
  margin-top: -2.5rem;
  margin-left: 12rem;
}
