<% #TODO: this needs to be copy checked %>
<% content_for :help do %>
  <p>Find out about <%= Settings.dsauth.app_title %>, including the use of cookies, accessibility of the site, the privacy
    policy and terms and conditions of use.</p>
  <ul class="list-bullet">
    <li>
      <h4><%= link_to t('accessibility'), 'accessibility' %></h4>

      <p>Details of accessibility and help using the internet</p>
    </li>
    <li>
      <h4><%= link_to t('cookies'), 'cookies' %></h4>

      <p>How cookies are used and each cookie's purpose</p>
    </li>
    <li>
      <h4><%= link_to t('terms'), 'terms' %></h4>

      <p>Information about the service and privacy approach</p>
    </li>
  </ul>
<% end %>
