<% #TODO: this needs to be copy checked %>
<% content_for :maintenance do %>
  <p>
    <strong>This service is currently under maintenance, please check back later.</strong>
  </p>
  <p>Please call the Call Centre on 0999 999 9999.</p>
<% end %>
