<% content_for :session_expired do %>
  <section>
    <p>
      <strong class="bold-small">Your session expired.</strong>
    </p>

    <p><%= link_to 'Start again', root_path %></p>
  </section>
<% end %>
