<h1><%= t('users') %></h1>

<table class="<%= params[:confirm_delete_user_id] ? "confirm-delete" : "hide-delete" %>">
  <thead>
  <tr>
    <th><%= t("name") %></th>
    <% if current_user.is_webops? %>
      <th><%= t("is_webops")%></th>
    <%- end %>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%- @users.each do |user| %>
    <%= content_tag_for(:tr, user) do %>
      <td><%= link_to user.name, user_path(user) %></td>
      <% if current_user.is_webops? %>
        <td><%= tick_cross_mark user.is_webops? %></td>
      <%- end %>
        <td class="actions clearfix <%= Integer(params[:confirm_delete_user_id] || 0) == user.id ? "actions-delete" : "" %>">
          <%= link_to t("edit"), edit_user_path(user) if policy(user).edit? %>
          <%= link_to t("delete"), users_path(confirm_delete_user_id: user.id), class: "button-delete" if policy(user).destroy? %>

          <div class="actions-delete-wrapper">
            <p><%= t("are_you_sure", name: user.name) %></p>
            <%= link_to t('delete'), user_path(user), class: "button-delete", method: :delete if policy(user).destroy? %>
            <%= link_to t("cancel"), users_path, class: "link-cancel" %>
          </div>
        </td>
    <%- end %>
  <%- end %>
  </tbody>
</table>
