<div class="phase-banner">
  <p>
    <strong class="phase-tag"><%= Rails.configuration.phase %></strong>
    <span>This is a new service - <%= link_to('your feedback', config_item(:feedback_url)) %> will help us to improve it.</span>
  </p>
</div>
