
a.user-links {
  color: white;
  font-size: 0.8em;
  float: right;
  padding-left: 5px;
  text-decoration: none;
}

h5.user-role {
  color: white;
  display: inline;
  font-weight: 800;
  float: right;
  margin: -1px;
}

label.form-label.remember-me {
  display: inline;
}

.remember-me-field {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-default {
  margin-top: 30px;
}
