%li
  %ul
    %li
      = link_to t('help'), :help
    %li
      = link_to t('accessibility'), :accessibility
    %li
      = link_to t('cookies'), :cookies
    %li
      = link_to t('terms'), :terms
